@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Mukta", sans-serif;
  --ff-secondary: "Bebas Neue", cursive;

  --bg-first: #8cd99c;
  --bg-second: #eef6e6;
  --bg-third: #060a13;
  --bg-fourth: #53c685;
  --bg-fourth-accent: #49a16f;

  --color-darkBrown: #5d5959;
  --color-veryDarkBrown: #262424;
  --fc-darkblue: hsl(234, 12%, 34%);
  --fc-grayishblue: hsl(227, 4%, 46%);
  --fc-veryLightGray: hsl(0, 0%, 98%);
}

/* GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-second);
  margin: 0 auto;
  line-height: 1.6;
  font-family: var(--ff-primary);
}

label {
  display: inline-block;
  width: min-content;
  height: min-content;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

input[name="types"]:checked + label {
  color: var(--bg-fourth);
  font-weight: bold;
}

input[name="top_types"]:checked + label {
  color: white;
  background-color: var(--bg-fourth-accent);
}

/* HEADER */

.nav {
  position: absolute;
  margin: 1em 1em 0 0;
  top: 0;
  right: 0;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-link {
  padding: 0 0.75em;
  text-align: center;
}

.nav-link {
  font-family: var(--ff-secondary);
  color: #060a13;
  text-decoration: none;
  transition-duration: 0.2s;
}

.nav-link-text {
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
}

.github-icon {
  font-size: 2.3em;
  color: black;
  transition-duration: 0.2s;
}
.nav-link:hover,
.github-icon:hover {
  color: var(--bg-fourth);
}

/* SECTION SEARCH */
.section-search {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  width: 500px;
  margin-top: 6em;
}

.section-search::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 2em auto;
  background: rgb(148, 148, 148);
  opacity: 0.75;
}

.search-radiobuttons {
  margin-bottom: 0.5em;
  width: max-content;
  font-family: var(--ff-accent);
  font-size: 1.25rem;
}

.search-area {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-areas: "query button";
}

.search-query {
  grid-area: query;
  background: var(--bg-second);
  border-top: 2px solid var(--bg-fourth);
  border-right: transparent;
  border-bottom: 2px solid var(--bg-fourth);
  border-left: 2px solid var(--bg-fourth);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1em;
  font-size: 1rem; /*CHANGE LATER*/
  font-family: var(--ff-primary);
  outline: 0;
  width: 100%;
}

.search-btn {
  grid-area: button;
  font-family: var(--ff-primary);
  padding: 1em 1em 1em 0;
  text-align: center;
  font-size: 1rem; /*CHANGE LATER*/
  background: var(--bg-second);
  border-left: transparent;
  border-top: 2px solid var(--bg-fourth);
  border-right: 2px solid var(--bg-fourth);
  border-bottom: 2px solid var(--bg-fourth);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-duration: 0.2s;
  width: 100%;
  cursor: pointer;
}
.search-btn:hover {
  color: var(--bg-fourth-accent);
}

/* SECTION DISPLAY */
.section-display {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 4em;
  width: 85vw;
}

.display-header {
  color: var(--bg-fourth-accent);
  font-weight: bold;
  display: flex;
  width: 98%;
  justify-content: space-between;
}
.display-header p {
  font-size: 3rem;
  font-family: var(--ff-secondary);
  margin: 0;
}
.display-header label {
  color: var(--fc-darkblue);
  border: 2px solid var(--bg-fourth-accent);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  text-align: center;
}

.display-data {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item-card {
  display: grid;
  grid-column-gap: 1em;
  padding: 1.25em;
  box-shadow: 0px 30px 40px -20px var(--bg-third);
  /* border: 2px solid var(--bg-fourth-accent); */
  border-top: 8px solid var(--bg-fourth-accent);
  margin: 0.75em;
  height: 360px;
  width: 26vw;
  background-color: white;
  border-radius: 10px;
  grid-template-areas:
    "img title"
    "img descr";
  grid-template-columns: 180px auto;
}

.card-title {
  grid-area: title;
  margin: 0;
  align-self: center;
  text-align: center;
  height: 55px;
  color: var(--fc-darkblue);
  font-size: 1.125rem;
  font-weight: bold;
}

.card-img {
  grid-area: img;
  border: 2px solid var(--bg-fourth-accent);
  height: 95%;
}
.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-descr {
  grid-area: descr;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-descr p {
  font-size: 1rem;
  color: var(--fc-grayishblue);
}

.descr-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}
.descr-field i {
  margin-right: 0.5em;
}

.descr-icon1 {
  color: rgba(248, 212, 6, 0.678);
}
.descr-icon2 {
  color: #c5a664;
}
.descr-icon3 {
  color: rgba(2, 107, 194, 0.623);
}
.descr-icon4 {
  color: var(--color-darkBrown);
}

/* DATA LOADING ANIMATION */
.load-animation {
  top: 120px;
  right: 540px;
  position: absolute;
  visibility: hidden;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: white;
  }
  50% {
    transform: scaleY(1);
    background: var(--bg-fourth-accent);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
} /* ANIMATION END */
